body {
    background-color: black !important;
    font-size: 16px;
}

main {
    width: 100%;
    margin: 0 auto;
    margin-top: 5vh;
}

p {
    color: white;
    font-family: 'Indie Flower', cursive;
}

.h1 {
    color: white;
    font-family: 'Lobster', cursive;
}

ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    margin-top: 5vh;
    padding: 0px !important;
}

.container {
    border-radius: 10px;
}

button {
    font-family: 'Poppins', sans-serif;
}

/**Small devices (landscape phones, 576px and up)**/
@media (min-width: 576px) {
    button {
        height: 5em;
        width: 8em;
    }

    .container {
        height: 30vh;
        width: 60em;
    }

    p {
        font-size: 1.25em;
    }
    
    .h1 {
        font-size: 1em;
    }

}

/** Medium devices (tablets, 768px and up)**/
@media (min-width: 768px) {
    button {
        height: 4em;
        width: 6em;
    }

    .container {
        height: 30vh;
        width: 70em;
    }

    p {
        font-size: 1.5em;
    }
    
    .h1 {
        font-size: 1.25em;
    }

}

/** Large devices (desktops, 992px and up)**/
@media (min-width: 992px) {
    button {
        height: 5em;
        width: 8em;
    }

    .container {
        height: 30vh;
        width: 80em;
    }

    p {
        font-size: 2em;
    }
    
    .h1 {
        font-size: 1.75em;
    }
}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
    button {
        height: 7em;
        width: 10em;
    }

    .container {
        height: 40vh;
        width: 90em;
    }

    p {
        font-size: 2.5em;
    }
    
    .h1 {
        font-size: 2.25em;
    }

}