body {
    background-color: black;
    font-size: 16px;
}

main {
    width: 100%;
    margin: 0 auto;
    margin-top: 5vh;
}

.navbutton {
    height: 2em;
    width: 5em;
}

p {
    color: white;
    font-family: 'Indie Flower', cursive;
}

.h1 {
    color: white;
    font-family: 'Lobster', cursive;
}

ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    margin-top: 5vh;
    padding: 0px !important;
}

.container {
    border-radius: 10px;
}

button {
    font-family: 'Poppins', sans-serif;
}


@media (min-width: 360px) {
    button {
        height: 1.85em;
        width: 4.5em;
    }

    .container {
        height: 20vh;
        width: 360px;
    }

    p {
        font-size: 1.2em;
    }
    
    .h1 {
        font-size: 0.9em;
    }

    .logo {
        height: 69.12px;
        width: 150px;
    }

    .navbar {
        width: 100%;
    }

}

/**Small devices (landscape phones, 576px and up)**/
@media (min-width: 576px) {
    button {
        height: 4em;
        width: 8em;
    }

    .container {
        height: 30vh;
        width: 70em;
    }

    p {
        font-size: 1.25em;
    }
    
    .h1 {
        font-size: 1em;
    }

    .logo {
        height: 92.16px;
        width: 200px;
    }

}

/** Medium devices (tablets, 768px and up)**/
@media (min-width: 768px) {
    button {
        height: 5em;
        width: 9em;
    }

    .container {
        height: 30vh;
        width: 70em;
    }

    p {
        font-size: 1.5em;
    }
    
    .h1 {
        font-size: 1.25em;
    }

    .logo {
        height: 115.2px;
        width: 250px;
    }

}

/** Large devices (desktops, 992px and up)**/
@media (min-width: 992px) {
    button {
        height: 6em;
        width: 10em;
    }

    .container {
        height: 30vh;
        width: 80em;
    }

    p {
        font-size: 2em;
    }
    
    .h1 {
        font-size: 1.75em;
    }

    .logo {
        height: 138.25px;
        width: 300px;
    }
}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
    button {
        height: 7em;
        width: 11em;
    }

    .container {
        height: 40vh;
        width: 90em;
    }

    p {
        font-size: 2.5em;
    }
    
    .h1 {
        font-size: 2.25em;
    }

    .logo {
        height: 185px;
        width: 400px;
    }

}